* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  ol, ul {
	list-style-type: none;
}

/* Header Section */

li {
  display: inline-block;
  margin-left: 25px;
}

header {
  background-color: rgb(55, 45, 45);
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(88, 88, 176);
}

header h1 {
  display: inline-block;
  font-size: 40px;
}

#navbar {
  float: right;
  color: blue;
  padding-top: 15px;
  margin-right: 20px;
  font-size: 20px;
}


/* style the links inside the navbar */
#navbar a {
  color: rgb(88, 88, 176);
}

/* change the color of the links on hover */
#navbar a:hover {
    background-color: #333;
    color: black;
}

/* Styling the main content */
.page-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Hero Banner */
.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  display: flex;
  opacity: 0.75;
  position: relative;
  justify-items: flex-end;
}

#profile-pic img {
  position: absolute;
  display: flex;
  width: 200px;
  length: 200px!;
  overflow: hidden;
  border-radius: 50%;
}

#hero-text {
  position: absolute;
  color: #333;
  background-color: rgb(88, 88, 176);
  float: right;
  padding: 2px;
}

#hero-text h2 {
  font-size: 28px;
  color: #333;
  display: block;
}
/* About Section */
#about {
    display: grid;
    grid-template-columns: 15% 75%;
    grid-template-rows: 100%;
    grid-template-areas: "about-me-heading about-me-text";
    justify-items: center;
}

#about-me-heading {
    grid-area: about-me-heading;
    text-align: right;
}

#about-me-text {
    grid-area: about-me-text;
}

/* Work Section */
#work {
    display: grid;
    grid-template-rows: 100% 100% 100%;
    grid-template-columns: 15% 37.5% 37.5%;
    grid-template-areas:
    "work-heading surf-report surf-report"
    "work-heading led-wall calculator"
    "work-heading pastel-puzzles run-buddy";
    justify-items: center;
}

#work-heading {
    grid-area: work-heading;
}

#surf-report {
    grid-area: surf-report;
    background-image: url("../images/02-portfolio-4.jpg");
}

#led-wall {
    grid-area: led-wall;
    background-image: url("../images/02-portfolio-1.jpg");
}

#calculator {
    grid-area: calculator;
    background-image: url("../images/02-portfolio-2.jpg");
}

#pastel-puzzles {
    grid-area: pastel-puzzles;
    background-image: url("../images/02-portfolio-3.jpg");
}

#run-buddy {
    grid-area: run-buddy;
    background-image: url("../images/02-run-buddy.jpg");
}

.workGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  cursor: pointer;
  align-content: flex-end;
  margin: 5px;
}

/* Contact section */
#contact {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 15% 10% 10% 10% 10%;
    grid-template-areas:
    "contact-heading website github twitter email";
    justify-items: center;
}

#contact-heading {
  grid-area: contact-heading;
}

#website {
  grid-area: website;
}

#github {
  grid-area: github;
}

#twitter {
  grid-area: twitter;
}

#email {
  grid-area: email;
}

.sectionHeading {
  border-right: 5px solid mediumaquamarine;
  padding-right: 15px;
}

