/* Variables */
:root {
  --cyan-color: rgb(92, 154, 161);
  --bckgrnd-blck: rgb(55, 45, 45);
  --bckgrnd-transition: linear-gradient(rgba(49, 109, 144, 0.349), rgba(49, 109, 144, 0.349));
}


/* General CSS rules */
* {
    box-sizing: border-box;
  }
  
body {
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5rem;
    color: var(--bckgrnd-blck);
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
  
p {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Styling the main content */
.page-section {
  min-width: 100%;
  height: 100%;
  padding: 50px 30px 50px 30px;
  justify-content: center;
}

.vertical-line {
  border-left: 5px solid var(--cyan-color);
}


/* Header with Navbar */
header {
  background-color: var(--bckgrnd-blck);
  padding: 20px 20px 20px 0px;
  height: 100%;
  width: 100%;
}

.nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 25px;
  color: var(--bckgrnd-blck);
  padding: 10px 10px 10px 50px;
  background-color: var(--cyan-color);
}

.nav > .nav-btn {
  display: none;
}


/* Styling the nav links */
.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 20px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 15px 10px 15px 10px;
  color: var(--cyan-color);
  border-bottom: 3px solid var(--cyan-color);
}

/* Hover effect on the nav-links */
.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 15px;
  }

  .nav > .nav-btn > label:hover,.nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(81, 71, 71, 0.4);
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid white;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: 100%;
    overflow-y: auto;
  }
}


/* Hero Banner */
#heroGrid {
  background-image: var(--bckgrnd-transition), url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "hero-image hero-text";
}

#hero-image {
  grid-area: hero-image;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

#hero-image img {
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#hero-text {
  grid-area: hero-text;
  margin-bottom: 30px;
  margin-right: 50px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
}

#hero-text h2 {
  font-size: 30px;
  color: var(--bckgrnd-blck);
  background-color: var(--cyan-color);
  padding: 5px;
}


/* About Me section */
#about {
    display: grid;
    grid-template-columns: 5% 5% 80%;
    grid-template-rows: 100%;
    grid-template-areas: "aboutHeading first-line aboutText";
    justify-items: center;
}

#aboutHeading {
    grid-area: aboutHeading;
    display: flex;
    justify-items: flex-end;
}

#first-line {
  grid-area: first-line;
}

#aboutText {
    grid-area: aboutText;
}


/* Work Section */
#work {
    display: grid;
    grid-template-rows: 200px 150px 150px;
    grid-template-columns: 5% 5% 40% 40%;
    grid-template-areas:
    "workHeading second-line rock-paper-scissors rock-paper-scissors"
    "workHeading second-line travel-california css-snippets"
    "workHeading second-line landing-page prework";
}

#workHeading {
    grid-area: workHeading;
}

#second-line {
  grid-area: second-line;
}

#rock-paper-scissors {
    grid-area: rock-paper-scissors;
    background-image: url("../images/rock-paper-scissors.png");
    align-content: flex-end;
    padding-bottom: 20px;
}

#travel-california {
    grid-area: travel-california;
    background-image: url("../images/california.jpg");
}

#css-snippets {
    grid-area: css-snippets;
    background-image: url("../images/CSS_Cheat_Sheet.png");
}

#landing-page {
    grid-area: landing-page;
    background-image: url("../images/landing-page3.jpg");
}

#prework {
    grid-area: prework;
    background-image: url("../images/prework-study-guide.png");
}

.workGridArea {
  background: var(--bckgrnd-transition);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  cursor: pointer;
  align-content: center;
  justify-content: flex-start;
  margin: 5px;
  border: 5px solid var(--cyan-color);
}

.workGridArea a {
  padding: 5px 25px 5px 10px;
  color: var(--bckgrnd-blck);
  background-color: var(--cyan-color);
}

.project-name {
  font-weight: bold;
  font-size: larger;
}


/* Contact section */
#contact {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 5% 5% 16% 16% 16% 16%;
    grid-template-areas:
    "contact-heading vertical-line website github twitter email";
    justify-items: center;
}

#contact-heading {
  grid-area: contact-heading;
}

.vertical-line {
  grid-area: vertical-line;
}

#website {
  grid-area: website;
}

#github {
  grid-area: github;
}

#twitter {
  grid-area: twitter;
}

#email {
  grid-area: email;
}

.contact-grid-element a {
  color: var(--bckgrnd-blck);
  font-size: 16px;
  border-bottom: 2px solid var(--bckgrnd-blck);
}

